input.ng-invalid.ng-touched{

	border: 1px solid red;
}

.second-column{
    background-color:#FFFFFF;
    height: 400px;
    width: 560px;
    margin-top: 130px;
      
} 
#form{
    margin-top: 30px;
}
.div-one {
    width: 70%;
    margin-left: 70px;
}
.div-two{
    width: 70%;
    margin-left: 70px;
}
#button{
    width: 100px;
    border-radius: 25px;
    margin-left: 70px;
}
.account{
    margin-left: 180px;
    margin-top: 60px;

}