<app-form-detail 
     *ngIf = 'isActiveUser'
     (userAdded) = 'onUserAdded($event)'
     ></app-form-detail>
<!-- <app-form-detail 
     *ngIf = 'isActiveUser && !isUserAdded'
     (userAdded) = 'onUserAdded($event)'
     ></app-form-detail> -->


<app-signin 
     *ngIf = '!isActiveUser' (userSignedin) = 'onUserSignedin($event)'
     
     ></app-signin>

<!-- <app-preview-page *ngIf = 'isUserAdded' ></app-preview-page> -->

<!-- <app-form-detail></app-form-detail>

<br>
<br>
<br>
<app-signin></app-signin> -->